﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Saü Chat Room </title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">SAÜ CHAT ROOMS</a>
                </div>
                @*<ul class="nav navbar-nav">
                    <li class="active"><a href="#">Ana Sayfa</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>  Oğuzhan Kocabaş</a></li>
                    <li><a href="#" style="display:none"><span class="glyphicon glyphicon-user"></span> Kayıt Ol</a></li>
                    <li><a href="#" style="display:none"><span class="glyphicon glyphicon-log-in"></span> Çıkış</a></li>
                    <li ><a href="#"><span class="glyphicon glyphicon-log-out"></span> Çıkış</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3>Hoşgeldiniz Oğuzhan Kocabaş!</h3>@{ }<!--Buraya razor ile  viewbag den alıcagımız veri ile giriş yapan kullanıcının ismi gelecektir " Hoşgeldiniz Oğuzhan Kocabaş !-->
        </div>
    </header>
        @RenderBody()
        <hr />
    <footer class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <!-- widgets column center -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_recent_news">
                            <!-- widgets list -->
                            <h1 class="title-widget">İletisim </h1>
                            <div class="footerp">
                                <p><b>E-mail:</b> <a href="mailto:oguzhan.kocabas1@ogr.sakarya.edu.tr">oguzhan.kocabas1@ogr.sakarya.edu.tr</a></p>
                                <p><b>Okul No: </b>G151210309, </p>
                                <p><b>GSM No: </b>5076487375 </p>
                            </div>

                            <div class="social-icons ">

                                <ul class="nomargin">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                    <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                    <a href="mailto:oguzhan.kocabas1@ogr.sakarya.edu.tr"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--header-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="copyright" style="text-align:center">
                        © 2016, Oğuzhan Kocabaş, Tüm Hakları Saklıdır.

                    </div>
                </div>
               
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
